<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yomico... Yet Another Markdown Viewer</title>
    <style type="text/css">
      <!--
          body { color:#222; margin:20px 0; line-height:1.6; }
          .wrapper{
            max-width:900px;
            margin:0 auto;
            padding:0 10px;
          }
        -->
    </style>
  </head>
  <body>
    <div class="wrapper">
